@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-100 text-zinc-900 dark:bg-zinc-100 dark:text-zinc-100;
}

/* Scrollbar ukryty */
.scrollbar-none {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE/Edge */
}
.scrollbar-none::-webkit-scrollbar {
  display: none;                /* Chrome/Safari */
}
